<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SupplyChain - Retailer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <main role="main" class="container">


        <div class="col-md-6">
            <h1>Factory View </h1>
            <h2>Factory name: <span th:text="${actor.name}"></span></h2>
            <form method="post" action="/actor/form">
                <div class="form-group">
                    <input type="hidden" name="actorId" th:value="${actor.id}">
                    <label for="selectedProducerId">Request form</label>

                    <select class="form-control" id="selectedProducerId" name="selectedProducerId" th:field="*{selectedProducerId}">
                        <option th:each="producer : ${producers}" th:value="${producer.id}"
                                th:text="${producer.name}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Request a form</button>

            </form>


            <div style="margin-top: 50px">
                <a href="/">
                    <button type="button" class="btn btn-primary">Current orders</button>
                </a>
            </div>

        </div>
    </main>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>