<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SupplyChain - Retailer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <main role="main" class="container">


        <div class="col-md-6">
            <h1>Producer View </h1>
            <h2>Producer name: <span th:text="${actor.name}"></span></h2>

            <span class="text-danger">Pending request - work in progress</span>
            <form method="post"  action="/actor/delivery">
                <div>
                    <table class="table">
                        <tr class="row" th:each="order : ${orders}">
                            <input type="hidden" name="id" th:value="${order.getId()}"/>
                            <td class="col">
                                <span th:text="${order.getProduct().getName()}"> Actor Name </span>
                            </td>
                            <td class="col">
                                <button type="submit" class="btn btn-primary">Deliver</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

            <div style="margin-top: 50px">
                <a href="/">
                    <button type="button" class="btn btn-primary">Current orders</button>
                </a>
            </div>

        </div>
    </main>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>