<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supply chain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<main role="main" class="container">
    <div class="col-md-6">
        <h1>Welcome to SupplyChain</h1>

        <section class="view view--login">
            <div class="view__content">

                <div>
                    <h2> Available actor types: </h2>
                    <ol class="list-group">
                        <li class="list-group-item">
                            <a href="/?type=retailer">Retailer</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/?type=factory">Factory</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/?type=producer">Producer</a>
                        </li>
                    </ol>

                </div>

                <h3 style="margin-top: 30px">Available actors for: <span th:text="${actorType}"></span></h3>
                <form method="post" action="/login">
                    <div>
                        <p th:if="${actors.empty}">No actors available</p>
                        <div>
                            <table class="table">
                                <!--<thead class="thead-dark">-->
                                <!--<tr>-->
                                    <!--<th>Select</th>-->
                                    <!--<th>Actor name</th>-->
                                <!--</tr>-->

                                <!--</thead>-->
                                <tr class="row" th:each="actor : ${actors}">
                                    <td class="col">
                                        <!--<input type="hidden" name="id" th:value="${actor.id}"/>-->
                                        <input type="radio" name="id" th:value="${actor.id}">
                                    </td>
                                    <td class="col">
                                        <span th:text="${actor.name}"> Actor Name </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <p>
                        <input class="btn btn-primary" type="submit" value="Login"/>
                    </p>
                </form>

            </div>
        </section>
    </div>
</main>


<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th> Title</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->

<!--    <tr th:if="${actors.empty}">-->
<!--        <td colspan="2"> No actors Available</td>-->
<!--    </tr>-->
<!--    <tr th:each="actor:${actors}">-->
<!--        <td><span th:text="${actor.name}"> Name </span></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<form method="post" action="/actor">-->
<!--    <button type="submit">Create random actor</button>-->
<!--</form>-->

<!--<form method="post" action="/retailer">-->
<!--    <button type="submit">Create random retailer</button>-->
<!--</form>-->

<!--<form method="post" action="/factory">-->
<!--    <button type="submit">Create random factory</button>-->
<!--</form>-->

<!--<form method="post" action="/producer">-->
<!--    <button type="submit">Create random producer</button>-->
<!--</form>-->

<!--<button><a href="/order">Create order</a></button>-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>